openapi: 3.2.0
info:
  title: CdnManagementClient Origins API
  version: '2026-07-01'
  description: Use these APIs to manage Azure Front Door and CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Origins
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins
  : get:
      operationId: Origins_ListByEndpoint
      tags:
      - Origins
      description: Lists all of the existing origins within an endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Origins_ListByEndpoint:
          $ref: ./examples/Origins_ListByEndpoint.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Origins list by endpoint
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}
  : get:
      operationId: Origins_Get
      tags:
      - Origins
      description: Gets an existing origin within an endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        schema:
          type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Origins_Get:
          $ref: ./examples/Origins_Get.json
      summary: Origins get
      x-summary-source: derived
    put:
      operationId: Origins_Create
      tags:
      - Origins
      description: Creates a new origin within the specified endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        schema:
          type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource 'Origin' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        '201':
          description: Resource 'Origin' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Origins_Create:
          $ref: ./examples/Origins_Create.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/Origin'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Origin'
        description: Origin properties
        required: true
      summary: Origins create
      x-summary-source: derived
    patch:
      operationId: Origins_Update
      tags:
      - Origins
      description: Updates an existing origin within an endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        schema:
          type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Origins_Update:
          $ref: ./examples/Origins_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/Origin'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginUpdateParameters'
        description: Origin properties
        required: true
      summary: Origins update
      x-summary-source: derived
    delete:
      operationId: Origins_Delete
      tags:
      - Origins
      description: Deletes an existing origin within an endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        schema:
          type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Origins_Delete:
          $ref: ./examples/Origins_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Origins delete
      x-summary-source: derived
components:
  schemas:
    OriginProperties:
      type: object
      description: The JSON object that contains the properties of the origin.
      properties:
        resourceState:
          $ref: '#/components/schemas/OriginResourceState'
          description: Resource status of the origin.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/OriginProvisioningState'
          description: Provisioning status of the origin.
          readOnly: true
        privateEndpointStatus:
          $ref: '#/components/schemas/PrivateEndpointStatus'
          description: The approval status for the connection to the Private Link
          readOnly: true
        hostName:
          type: string
          description: The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.This should be unique across all origins in an endpoint.
      required:
      - hostName
      allOf:
      - $ref: '#/components/schemas/OriginUpdatePropertiesParameters'
    OriginResourceState:
      type: string
      description: Resource status of the origin.
      enum:
      - Creating
      - Active
      - Deleting
      x-ms-enum:
        name: OriginResourceState
        modelAsString: true
        values:
        - name: Creating
          value: Creating
        - name: Active
          value: Active
        - name: Deleting
          value: Deleting
    OriginProvisioningState:
      type: string
      description: Provisioning status of the origin.
      enum:
      - Succeeded
      - Failed
      - Updating
      - Deleting
      - Creating
      x-ms-enum:
        name: OriginProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
        - name: Failed
          value: Failed
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Creating
          value: Creating
    OriginListResult:
      type: object
      description: The response of a Origin list operation.
      properties:
        value:
          type: array
          description: The Origin items on this page
          items:
            $ref: '#/components/schemas/Origin'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PrivateEndpointStatus:
      type: string
      description: The approval status for the connection to the Private Link
      enum:
      - Pending
      - Approved
      - Rejected
      - Disconnected
      - Timeout
      x-ms-enum:
        name: PrivateEndpointStatus
        modelAsString: true
        values:
        - name: Pending
          value: Pending
        - name: Approved
          value: Approved
        - name: Rejected
          value: Rejected
        - name: Disconnected
          value: Disconnected
        - name: Timeout
          value: Timeout
    OriginUpdatePropertiesParameters:
      type: object
      description: The JSON object that contains the properties of the origin.
      properties:
        hostName:
          type: string
          description: The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.This should be unique across all origins in an endpoint.
        httpPort:
          type: integer
          format: int32
          description: The value of the HTTP port. Must be between 1 and 65535.
          minimum: 1
          maximum: 65535
        httpsPort:
          type: integer
          format: int32
          description: The value of the HTTPS port. Must be between 1 and 65535.
          minimum: 1
          maximum: 65535
        originHostHeader:
          type: string
          description: The host header value sent to the origin with each request. If you leave this blank, the request hostname determines this value. Azure CDN origins, such as Web Apps, Blob Storage, and Cloud Services require this host header value to match the origin hostname by default. This overrides the host header defined at Endpoint
        priority:
          type: integer
          format: int32
          description: Priority of origin in given origin group for load balancing. Higher priorities will not be used for load balancing if any lower priority origin is healthy.Must be between 1 and 5
          minimum: 1
          maximum: 5
        weight:
          type: integer
          format: int32
          description: Weight of the origin in given origin group for load balancing. Must be between 1 and 1000
          minimum: 1
          maximum: 1000
        enabled:
          type: boolean
          description: Origin is enabled for load balancing or not
        privateLinkAlias:
          type: string
          description: The Alias of the Private Link resource. Populating this optional field indicates that this origin is 'Private'
        privateLinkResourceId:
          type: string
          description: The Resource Id of the Private Link resource. Populating this optional field indicates that this backend is 'Private'
        privateLinkLocation:
          type: string
          description: The location of the Private Link resource. Required only if 'privateLinkResourceId' is populated
        privateLinkApprovalMessage:
          type: string
          description: A custom message to be included in the approval request to connect to the Private Link.
    OriginUpdateParameters:
      type: object
      description: Origin properties needed for origin update.
      properties:
        properties:
          $ref: '#/components/schemas/OriginUpdatePropertiesParameters'
          description: The JSON object that contains the properties of the origin.
          x-ms-client-flatten: true
    Origin:
      type: object
      description: CDN origin is the source of the content being delivered via CDN. When the edge nodes represented by an endpoint do not have the requested content cached, they attempt to fetch it from one or more of the configured origins.
      properties:
        properties:
          $ref: '#/components/schemas/OriginProperties'
          description: The JSON object that contains the properties of the origin.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
