openapi: 3.2.0
info:
  title: Microsoft Azure Cdn Secrets API
  version: '2026-07-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
  description: 'Operations tagged Secrets across 2 of this provider''s published API definitions: microsoft-azure-cdn-management-openapi.json, microsoft-azure-cdn-management-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Secrets
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets:
    get:
      operationId: Secrets_ListByProfile
      tags:
      - Secrets
      description: Lists existing AzureFrontDoor secrets.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Secrets_ListByProfile:
          $ref: ./examples/Secrets_ListByProfile.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Secrets list by profile
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets/{secretName}
  : get:
      operationId: Secrets_Get
      tags:
      - Secrets
      description: Gets an existing Secret within a profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: secretName
        in: path
        description: Name of the Secret under the profile.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Secrets_Get:
          $ref: ./examples/Secrets_Get.json
      summary: Secrets get
      x-summary-source: derived
    put:
      operationId: Secrets_Create
      tags:
      - Secrets
      description: Creates a new Secret within the specified profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: secretName
        in: path
        description: Name of the Secret under the profile.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource 'Secret' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '201':
          description: Resource 'Secret' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Secrets_Create:
          $ref: ./examples/Secrets_Create.json
        Secrets_CreateCustomerCertificateType:
          $ref: ./examples/Secrets_CreateCustomerCertificateType.json
        Secrets_CreateUrlSigningKeyType:
          $ref: ./examples/Secrets_CreateUrlSigningKeyType.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
        final-state-schema: '#/definitions/Secret'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Secret'
        description: The Secret properties.
        required: true
      summary: Secrets create
      x-summary-source: derived
    delete:
      operationId: Secrets_Delete
      tags:
      - Secrets
      description: Deletes an existing Secret within profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: secretName
        in: path
        description: Name of the Secret under the profile.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Secrets_Delete:
          $ref: ./examples/Secrets_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Secrets delete
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
components:
  schemas:
    SecretType:
      type: string
      description: The type of the secret resource.
      enum:
      - UrlSigningKey
      - CustomerCertificate
      - ManagedCertificate
      - AzureFirstPartyManagedCertificate
      - MtlsCertificateChain
      x-ms-enum:
        name: SecretType
        modelAsString: true
        values:
        - name: UrlSigningKey
          value: UrlSigningKey
        - name: CustomerCertificate
          value: CustomerCertificate
        - name: ManagedCertificate
          value: ManagedCertificate
        - name: AzureFirstPartyManagedCertificate
          value: AzureFirstPartyManagedCertificate
        - name: MtlsCertificateChain
          value: MtlsCertificateChain
    SecretListResult:
      type: object
      description: The response of a Secret list operation.
      properties:
        value:
          type: array
          description: The Secret items on this page
          items:
            $ref: '#/components/schemas/Secret'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SecretProperties:
      type: object
      description: The JSON object that contains the properties of the Secret to create.
      properties:
        profileName:
          type: string
          description: The name of the profile which holds the secret.
          readOnly: true
        parameters:
          $ref: '#/components/schemas/SecretParameters'
          description: object which contains secret parameters
      allOf:
      - $ref: '#/components/schemas/AFDStateProperties'
    AFDStateProperties:
      type: object
      description: The tracking states for afd resources.
      properties:
        provisioningState:
          $ref: '#/components/schemas/AfdProvisioningState'
          description: Provisioning status
          readOnly: true
        deploymentStatus:
          $ref: '#/components/schemas/DeploymentStatus'
          readOnly: true
    SecretParameters:
      type: object
      description: The json object containing secret parameters
      properties:
        type:
          $ref: '#/components/schemas/SecretType'
          description: The type of the secret resource.
      discriminator:
        propertyName: type
      required:
      - type
    Secret:
      type: object
      description: Friendly Secret name mapping to the any Secret or secret related information.
      properties:
        properties:
          $ref: '#/components/schemas/SecretProperties'
          description: The JSON object that contains the properties of the Secret to create.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
    AfdProvisioningState:
      type: string
      description: Provisioning status
      enum:
      - Succeeded
      - Failed
      - Updating
      - Deleting
      - Creating
      x-ms-enum:
        name: AfdProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
        - name: Failed
          value: Failed
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Creating
          value: Creating
    DeploymentStatus:
      type: string
      enum:
      - NotStarted
      - InProgress
      - Succeeded
      - Failed
      x-ms-enum:
        name: DeploymentStatus
        modelAsString: true
        values:
        - name: NotStarted
          value: NotStarted
        - name: InProgress
          value: InProgress
        - name: Succeeded
          value: Succeeded
        - name: Failed
          value: Failed
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- microsoft-azure-cdn-management-openapi.json
- microsoft-azure-cdn-management-openapi.json
