openapi: 3.2.0
info:
  title: CdnManagementClient Providers API
  version: '2026-07-01'
  description: Use these APIs to manage Azure Front Door and CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Providers
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      operationId: CheckNameAvailability
      description: Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CheckNameAvailability:
          $ref: ./examples/CheckNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: The request body
        required: true
      tags:
      - Providers
      summary: Check name availability
      x-summary-source: derived
  /providers/Microsoft.Cdn/edgenodes:
    get:
      operationId: EdgeNodes_List
      description: Edgenodes are the global Point of Presence (POP) locations used to deliver CDN content to end users.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgenodeResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        EdgeNodes_List:
          $ref: ./examples/EdgeNodes_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
      summary: Edge nodes list
      x-summary-source: derived
components:
  schemas:
    CheckNameAvailabilityInput:
      type: object
      description: Input of CheckNameAvailability API.
      properties:
        name:
          type: string
          description: The resource name to validate.
        type:
          $ref: '#/components/schemas/ResourceType'
          description: The type of the resource whose name is to be validated.
      required:
      - name
      - type
    IpAddressGroup:
      type: object
      description: CDN Ip address group
      properties:
        deliveryRegion:
          type: string
          description: The delivery region of the ip address group
        ipv4Addresses:
          type: array
          description: The list of ip v4 addresses.
          items:
            $ref: '#/components/schemas/cidrIpAddress'
          x-ms-identifiers:
          - baseIpAddress
        ipv6Addresses:
          type: array
          description: The list of ip v6 addresses.
          items:
            $ref: '#/components/schemas/cidrIpAddress'
          x-ms-identifiers:
          - baseIpAddress
    ResourceType:
      type: string
      description: Type of CDN resource used in CheckNameAvailability.
      enum:
      - Microsoft.Cdn/Profiles/Endpoints
      - Microsoft.Cdn/Profiles/AfdEndpoints
      x-ms-enum:
        name: ResourceType
        modelAsString: true
        values:
        - name: Microsoft.Cdn/Profiles/Endpoints
          value: Microsoft.Cdn/Profiles/Endpoints
        - name: Microsoft.Cdn/Profiles/AfdEndpoints
          value: Microsoft.Cdn/Profiles/AfdEndpoints
    EdgenodeResult:
      type: object
      description: Result of the request to list CDN edgenodes. It contains a list of ip address group and a URL link to get the next set of results.
      properties:
        value:
          type: array
          description: The EdgeNode items on this page
          items:
            $ref: '#/components/schemas/EdgeNode'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    cidrIpAddress:
      type: object
      description: CIDR Ip address
      properties:
        baseIpAddress:
          type: string
          description: Ip address itself.
        prefixLength:
          type: integer
          format: int32
          description: The length of the prefix of the ip address.
    EdgeNodeProperties:
      type: object
      description: The JSON object that contains the properties required to create an edgenode.
      properties:
        ipAddressGroups:
          type: array
          description: List of ip address groups.
          items:
            $ref: '#/components/schemas/IpAddressGroup'
          x-ms-identifiers:
          - deliveryRegion
      required:
      - ipAddressGroups
    CheckNameAvailabilityOutput:
      type: object
      description: Output of check name availability API.
      properties:
        nameAvailable:
          type: boolean
          description: Indicates whether the name is available.
          readOnly: true
        reason:
          type: string
          description: The reason why the name is not available.
          readOnly: true
        message:
          type: string
          description: The detailed error message describing why the name is not available.
          readOnly: true
    EdgeNode:
      type: object
      description: Edgenode is a global Point of Presence (POP) location used to deliver CDN content to end users.
      properties:
        properties:
          $ref: '#/components/schemas/EdgeNodeProperties'
          description: The JSON object that contains the properties required to create an edgenode.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
