openapi: 3.2.0
info:
  title: Microsoft Azure Cdn Profiles API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Profiles across 2 of this provider''s published API definitions: microsoft-azure-cdn-management-openapi.json, microsoft-azure-cdn-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Profiles
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles:
    get:
      operationId: Profiles_List
      tags:
      - Profiles
      description: Lists all of the Azure Front Door Standard, Azure Front Door Premium, and CDN profiles within an Azure subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_List:
          $ref: ./examples/Profiles_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Profiles list
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles:
    get:
      operationId: Profiles_ListByResourceGroup
      tags:
      - Profiles
      description: Lists all of the Azure Front Door Standard, Azure Front Door Premium, and CDN profiles within a resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_ListByResourceGroup:
          $ref: ./examples/Profiles_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Profiles list by resource group
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}:
    get:
      operationId: Profiles_Get
      tags:
      - Profiles
      description: Gets an Azure Front Door Standard or Azure Front Door Premium or CDN profile with the specified profile name under the specified subscription and resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_Get:
          $ref: ./examples/Profiles_Get.json
      summary: Profiles get
      x-summary-source: derived
    put:
      operationId: Profiles_Create
      tags:
      - Profiles
      description: Creates a new Azure Front Door Standard or Azure Front Door Premium or CDN profile with a profile name under the specified subscription and resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Resource 'Profile' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '201':
          description: Resource 'Profile' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_Create:
          $ref: ./examples/Profiles_Create.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/Profile'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        description: Profile properties needed to create a new profile.
        required: true
      summary: Profiles create
      x-summary-source: derived
    patch:
      operationId: Profiles_Update
      tags:
      - Profiles
      description: Updates an existing Azure Front Door Standard or Azure Front Door Premium or CDN profile with the specified profile name under the specified subscription and resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_Update:
          $ref: ./examples/Profiles_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/Profile'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateParameters'
        description: Profile properties needed to update an existing profile.
        required: true
      summary: Profiles update
      x-summary-source: derived
    delete:
      operationId: Profiles_Delete
      tags:
      - Profiles
      description: Deletes an existing Azure Front Door Standard or Azure Front Door Premium or CDN profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and custom domains.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_Delete:
          $ref: ./examples/Profiles_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Profiles delete
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/cdnCanMigrateToAfd
  : post:
      operationId: Profiles_CdnCanMigrateToAfd
      tags:
      - Profiles
      description: Checks if CDN profile can be migrated to Azure Frontdoor(Standard/Premium) profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanMigrateResult'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_CdnCanMigrate:
          $ref: ./examples/CdnProfiles_CanMigrate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/CanMigrateResult'
      x-ms-long-running-operation: true
      summary: Profiles cdn can migrate to afd
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/cdnMigrateToAfd
  : post:
      operationId: Profiles_CdnMigrateToAfd
      tags:
      - Profiles
      description: Migrate the CDN profile to Azure Frontdoor(Standard/Premium) profile. This step prepares the profile for migration and will be followed by Commit to finalize the migration.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateResult'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_CdnMigrate:
          $ref: ./examples/CdnProfiles_Migrate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/MigrateResult'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdnMigrationToAfdParameters'
        description: Properties needed to migrate the profile.
        required: true
      summary: Profiles cdn migrate to afd
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkEndpointNameAvailability
  : post:
      operationId: AFDProfiles_CheckEndpointNameAvailability
      tags:
      - Profiles
      description: Check the availability of an afdx endpoint name, and return the globally unique endpoint host name.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckEndpointNameAvailabilityOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CheckEndpointNameAvailability:
          $ref: ./examples/AFDProfiles_CheckEndpointNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckEndpointNameAvailabilityInput'
        description: Input to check.
        required: true
      summary: AFD profiles check endpoint name availability
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkHostNameAvailability
  : post:
      operationId: AFDProfiles_CheckHostNameAvailability
      tags:
      - Profiles
      description: Validates the custom domain mapping to ensure it maps to the correct Azure Front Door endpoint in DNS.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AFDProfiles_CheckHostNameAvailability:
          $ref: ./examples/AFDProfiles_CheckHostNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckHostNameAvailabilityInput'
        description: Custom domain to be validated.
        required: true
      summary: AFD profiles check host name availability
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage
  : post:
      operationId: Profiles_ListResourceUsage
      tags:
      - Profiles
      description: Checks the quota and actual usage of endpoints under the given Azure Front Door Standard or Azure Front Door Premium or CDN profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUsageListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_ListResourceUsage:
          $ref: ./examples/Profiles_ListResourceUsage.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Profiles list resource usage
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri
  : post:
      operationId: Profiles_GenerateSsoUri
      tags:
      - Profiles
      description: Generates a dynamic SSO URI used to sign in to the CDN supplemental portal. Supplemental portal is used to configure advanced feature capabilities that are not yet available in the Azure portal, such as core reports in a standard profile; rules engine, advanced HTTP reports, and real-time stats and alerts in a premium profile. The SSO URI changes approximately every 10 minutes.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoUri'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_GenerateSsoUri:
          $ref: ./examples/Profiles_GenerateSsoUri.json
      summary: Profiles generate sso uri
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsLocations
  : get:
      operationId: LogAnalytics_GetLogAnalyticsLocations
      tags:
      - Profiles
      description: Get all available location names for AFD log analytics report.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinentsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetLogAnalyticsLocations:
          $ref: ./examples/LogAnalytics_GetLogAnalyticsLocations.json
      summary: Log analytics get log analytics locations
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsMetrics
  : get:
      operationId: LogAnalytics_GetLogAnalyticsMetrics
      tags:
      - Profiles
      description: Get log report for AFD profile
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: metrics
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - clientRequestCount
            - clientRequestTraffic
            - clientRequestBandwidth
            - originRequestTraffic
            - originRequestBandwidth
            - totalLatency
            x-ms-enum:
              name: LogMetric
              modelAsString: true
              values:
              - name: clientRequestCount
                value: clientRequestCount
              - name: clientRequestTraffic
                value: clientRequestTraffic
              - name: clientRequestBandwidth
                value: clientRequestBandwidth
              - name: originRequestTraffic
                value: originRequestTraffic
              - name: originRequestBandwidth
                value: originRequestBandwidth
              - name: totalLatency
                value: totalLatency
      - name: dateTimeBegin
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: dateTimeEnd
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: granularity
        in: query
        required: true
        x-ms-enum:
          name: LogMetricsGranularity
          modelAsString: true
          values:
          - name: PT5M
            value: PT5M
          - name: PT1H
            value: PT1H
          - name: P1D
            value: P1D
        schema:
          type: string
          enum:
          - PT5M
          - PT1H
          - P1D
      - name: groupBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - httpStatusCode
            - protocol
            - cacheStatus
            - countryOrRegion
            - customDomain
            x-ms-enum:
              name: LogMetricsGroupBy
              modelAsString: true
      - name: continents
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: countryOrRegions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: customDomains
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: protocols
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetLogAnalyticsMetrics:
          $ref: ./examples/LogAnalytics_GetLogAnalyticsMetrics.json
      summary: Log analytics get log analytics metrics
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsRankings
  : get:
      operationId: LogAnalytics_GetLogAnalyticsRankings
      tags:
      - Profiles
      description: Get log analytics ranking report for AFD profile
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: rankings
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - url
            - referrer
            - browser
            - userAgent
            - countryOrRegion
            x-ms-enum:
              name: LogRanking
              modelAsString: true
              values:
              - name: url
                value: url
              - name: referrer
                value: referrer
              - name: browser
                value: browser
              - name: userAgent
                value: userAgent
              - name: countryOrRegion
                value: countryOrRegion
      - name: metrics
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - clientRequestCount
            - clientRequestTraffic
            - hitCount
            - missCount
            - userErrorCount
            - errorCount
            x-ms-enum:
              name: LogRankingMetric
              modelAsString: true
      - name: maxRanking
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: dateTimeBegin
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: dateTimeEnd
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: customDomains
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankingsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetLogAnalyticsRankings:
          $ref: ./examples/LogAnalytics_GetLogAnalyticsRankings.json
      summary: Log analytics get log analytics rankings
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getLogAnalyticsResources
  : get:
      operationId: LogAnalytics_GetLogAnalyticsResources
      tags:
      - Profiles
      description: Get all endpoints and custom domains available for AFD log report
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetLogAnalyticsResources:
          $ref: ./examples/LogAnalytics_GetLogAnalyticsResources.json
      summary: Log analytics get log analytics resources
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes
  : post:
      operationId: Profiles_ListSupportedOptimizationTypes
      tags:
      - Profiles
      description: Gets the supported optimization types for the current profile. A user can create an endpoint with an optimization type from the listed values.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedOptimizationTypesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_ListSupportedOptimizationTypes:
          $ref: ./examples/Profiles_ListSupportedOptimizationTypes.json
      summary: Profiles list supported optimization types
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getWafLogAnalyticsMetrics
  : get:
      operationId: LogAnalytics_GetWafLogAnalyticsMetrics
      tags:
      - Profiles
      description: Get Waf related log analytics report for AFD profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: metrics
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - clientRequestCount
            x-ms-enum:
              name: WafMetric
              modelAsString: true
      - name: dateTimeBegin
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: dateTimeEnd
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: granularity
        in: query
        required: true
        x-ms-enum:
          name: WafGranularity
          modelAsString: true
          values:
          - name: PT5M
            value: PT5M
          - name: PT1H
            value: PT1H
          - name: P1D
            value: P1D
        schema:
          type: string
          enum:
          - PT5M
          - PT1H
          - P1D
      - name: actions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - allow
            - block
            - log
            - redirect
            x-ms-enum:
              name: WafAction
              modelAsString: true
      - name: groupBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - httpStatusCode
            - customDomain
            x-ms-enum:
              name: WafRankingGroupBy
              modelAsString: true
      - name: ruleTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - managed
            - custom
            - bot
            x-ms-enum:
              name: WafRuleType
              modelAsString: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WafMetricsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetWafLogAnalyticsMetrics:
          $ref: ./examples/LogAnalytics_GetWafLogAnalyticsMetrics.json
      summary: Log analytics get waf log analytics metrics
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getWafLogAnalyticsRankings
  : get:
      operationId: LogAnalytics_GetWafLogAnalyticsRankings
      tags:
      - Profiles
      description: Get WAF log analytics charts for AFD profile
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      - name: metrics
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - clientRequestCount
            x-ms-enum:
              name: WafMetric
              modelAsString: true
      - name: dateTimeBegin
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: dateTimeEnd
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: maxRanking
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: rankings
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - action
            - ruleGroup
            - ruleId
            - userAgent
            - clientIp
            - url
            - countryOrRegion
            - ruleType
            x-ms-enum:
              name: WafRankingType
              modelAsString: true
              values:
              - name: action
                value: action
              - name: ruleGroup
                value: ruleGroup
              - name: ruleId
                value: ruleId
              - name: userAgent
                value: userAgent
              - name: clientIp
                value: clientIp
              - name: url
                value: url
              - name: countryOrRegion
                value: countryOrRegion
              - name: ruleType
                value: ruleType
      - name: actions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - allow
            - block
            - log
            - redirect
            x-ms-enum:
              name: WafAction
              modelAsString: true
      - name: ruleTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - managed
            - custom
            - bot
            x-ms-enum:
              name: WafRuleType
              modelAsString: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WafRankingsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LogAnalytics_GetWafLogAnalyticsRankings:
          $ref: ./examples/LogAnalytics_GetWafLogAnalyticsRankings.json
      summary: Log analytics get waf log analytics rankings
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/migrationAbort
  : post:
      operationId: Profiles_MigrationAbort
      tags:
      - Profiles
      description: Abort the migration to Azure Frontdoor Premium/Standard.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_CdnMigrationCommit:
          $ref: ./examples/Profiles_MigrationAbort.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Profiles migration abort
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/migrationCommit
  : post:
      operationId: Profiles_MigrationCommit
      tags:
      - Profiles
      description: Commit the migrated Azure Frontdoor(Standard/Premium) profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: The request has succeeded.
        '202':
          description: Resource operation accepted.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Profiles_MigrationCommit:
          $ref: ./examples/Profiles_MigrationCommit.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Profiles migration commit
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/upgrade:
    post:
      operationId: AFDProfiles_Upgrade
      tags:
      - Profiles
      description: Upgrade a profile from Standard_AzureFrontDoor to Premium_AzureFrontDoor.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AFDProfiles_Upgrade:
          $ref: ./examples/AFDProfiles_Upgrade.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/Profile'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpgradeParameters'
        description: Profile upgrade input parameter.
        required: true
      summary: AFD profiles upgrade
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/usages:
    post:
      operationId: AFDProfiles_ListResourceUsage
      tags:
      - Profiles
      description: Checks the quota and actual usage of endpoints under the given Azure Front Door profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AFDProfiles_ListResourceUsage:
          $ref: ./examples/AFDProfiles_ListResourceUsage.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: AFD profiles list resource usage
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/validateSecret
  : post:
      operationId: AFDProfiles_ValidateSecret
      tags:
      - Profiles
      description: Validate a Secret in the profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter
      - name: profileName
        in: path
        description: Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group.
        required: true
        schema:
          type: string
          maxLength: 260
          minLength: 1
          pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateSecretOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Validate_Secret:
          $ref: ./examples/AFDProfiles_ValidateSecret.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSecretInput'
        description: The Secret source.
        required: true
      summary: AFD profiles validate secret
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{name}:
    parameters:
    - $ref: '#/components/parameters/subscriptionId'
    - $ref: '#/components/parameters/resourceGroupName'
    - name: name
      in: path
      required: true
      description: Name of the resource.
      schema:
        type: string
    - $ref: '#/components/parameters/apiVersion'
    get:
      operationId: getProfiles
      summary: Azure CDN REST API Get resource
      description: Gets a specific profiles resource.
      tags:
      - Profiles
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '404':
          description: Not found
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: createOrUpdateProfiles
      summary: Azure CDN REST API Create or update resource
      description: Creates or updates a profiles resource.
      tags:
      - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateProfiles
      summary: Azure CDN REST API Update resource
      description: Updates a profiles resource.
      tags:
      - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteProfiles
      summary: Azure CDN REST API Delete resource
      description: Deletes a profiles resource.
      tags:
      - Profiles
      responses:
        '200':
          description: Resource deleted
        '202':
          description: Deletion accepted
        '204':
          description: Resource not found or already deleted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager
components:
  schemas:
    MetricsResponseSeriesItem:
      type: object
      properties:
        metric:
          type: string
        unit:
          $ref: '#/components/schemas/MetricsSeriesUnit'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/MetricsResponseSeriesPropertiesItemsItem'
          x-ms-identifiers:
          - name
        data:
          type: array
          items:
            $ref: '#/components/schemas/Components1Gs0LlpSchemasMetricsresponsePropertiesSeriesItemsPropertiesDataItems'
          x-ms-identifiers: []
    WafRankingsResponse:
      type: object
      description: Waf Rankings Response
      properties:
        dateTimeBegin:
          type: string
          format: date-time
        dateTimeEnd:
          type: string
          format: date-time
        groups:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/WafRankingsResponseDataItem'
          x-ms-identifiers: []
    Components18OrqelSchemasWafmetricsresponsePropertiesSeriesItemsPropertiesDataItems:
      type: object
      properties:
        dateTime:
          type: string
          format: date-time
        value:
          type: number
          format: float
    WafMetricsResponseSeriesItem:
      type: object
      properties:
        metric:
          type: string
        unit:
          $ref: '#/components/schemas/WafMetricsSeriesUnit'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/WafMetricsResponseSeriesPropertiesItemsItem'
          x-ms-identifiers:
          - name
        data:
          type: array
          items:
            $ref: '#/components/schemas/Components18OrqelSchemasWafmetricsresponsePropertiesSeriesItemsPropertiesDataItems'
          x-ms-identifiers: []
    ScrubbingRuleEntryMatchVariable:
      type: string
      description: The variable to be scrubbed from the logs.
      enum:
      - RequestIPAddress
      - RequestUri
      - QueryStringArgNames
      x-ms-enum:
        name: ScrubbingRuleEntryMatchVariable
        modelAsString: true
        values:
        - name: RequestIPAddress
          value: RequestIPAddress
        - name: RequestUri
          value: RequestUri
        - name: QueryStringArgNames
          value: QueryStringArgNames
    ProfileChangeSkuWafMapping:
      type: object
      description: Parameters required for profile upgrade.
      properties:
        securityPolicyName:
          type: string
          description: The security policy name.
        changeToWafPolicy:
          $ref: '#/components/schemas/ResourceReference'
          description: The new waf resource for the security policy to use.
      required:
      - securityPolicyName
      - changeToWafPolicy
    ResourcesResponse:
      type: object
      description: Resources Response
      properties:
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/ResourcesResponseEndpointsItem'
        customDomains:
          type: array
          items:
            $ref: '#/components/schemas/ResourcesResponseCustomDomainsItem'
    MetricsResponseSeriesPropertiesItemsItem:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ResourceReference:
      type: object
      description: Reference to another resource.
      properties:
        id:
          type: string
          description: Resource ID.
    ContinentsResponse:
      type: object
      description: Continents Response
      properties:
        continents:
          type: array
          items:
            $ref: '#/components/schemas/ContinentsResponseContinentsItem'
        countryOrRegions:
          type: array
          items:
            $ref: '#/components/schemas/ContinentsResponseCountryOrRegionsItem'
    SsoUri:
      type: object
      description: The URI required to login to the supplemental portal from the Azure portal.
      properties:
        ssoUriValue:
          type: string
          description: The URI used to login to the supplemental portal.
          readOnly: true
    Components1Gs0LlpSchemasMetricsresponsePropertiesSeriesItemsPropertiesDataItems:
      type: object
      properties:
        dateTime:
          type: string
          format: date-time
        value:
          type: number
          format: float
    MetricsGranularity:
      type: string
      enum:
      - PT5M
      - PT1H
      - P1D
      x-ms-enum:
        name: MetricsGranularity
        modelAsString: true
        values:
        - name: PT5M
          value: PT5M
        - name: PT1H
          value: PT1H
        - name: P1D
          value: P1D
    OptimizationType:
      type: string
      description: Specifies what scenario the customer wants this CDN endpoint to optimize, e.g. Download, Media services. With this information we can apply scenario driven optimization.
      enum:
      - GeneralWebDelivery
      - GeneralMediaStreaming
      - VideoOnDemandMediaStreaming
      - LargeFileDownload
      - DynamicSiteAcceleration
      x-ms-enum:
        name: OptimizationType
        modelAsString: true
        values:
        - name: GeneralWebDelivery
          value: GeneralWebDelivery
        - name: GeneralMediaStreaming
          value: GeneralMediaStreaming
        - name: VideoOnDemandMediaStreaming
          value: VideoOnDemandMediaStreaming
        - name: LargeFileDownload
          value: LargeFileDownload
        - name: DynamicSiteAcceleration
          value: DynamicSiteAcceleration
    SupportedOptimizationTypesListResult:
      type: object
      description: The result of the GetSupportedOptimizationTypes API
      properties:
        supportedOptimizationTypes:
          type: array
          description: Supported optimization types for a profile.
          items:
            $ref: '#/components/schemas/OptimizationType'
          readOnly: true
    CheckEndpointNameAvailabilityInput:
      type: object
      description: Input of CheckNameAvailability API.
      properties:
        name:
          type: string
          description: The resource name to validate.
        type:
          $ref: '#/components/schemas/ResourceType'
          description: The type of the resource whose name is to be validated.
        autoGeneratedDomainNameLabelScope:
          $ref: '#/components/schemas/AutoGeneratedDomainNameLabelScope'
          description: Indicates the endpoint name reuse scope. The default value is TenantReuse.
      required:
      - name
      - type
    CheckHostNameAvailabilityInput:
      type: object
      description: Input of CheckHostNameAvailability API.
      properties:
        hostName:
          type: string
          description: The host name to validate.
      required:
      - hostName
    ProfileResourceState:
      type: string
      description: Resource status of the profile.
      enum:
      - Creating
      - Active
      - Deleting
      - Disabled
      - Migrating
      - Migrated
      - PendingMigrationCommit
      - CommittingMigration
      - AbortingMigration
      x-ms-enum:
        name: ProfileResourceState
        modelAsString: true
        values:
        - name: Creating
          value: Creating
        - name: Active
          value: Active
        - name: Deleting
          value: Deleting
        - name: Disabled
          value: Disabled
        - name: Migrating
          value: Migrating
        - name: Migrated
          value: Migrated
        - name: PendingMigrationCommit
          value: PendingMigrationCommit
        - name: CommittingMigration
          value: CommittingMigration
        - name: AbortingMigration
          value: AbortingMigration
    WafMetricsResponse:
      type: object
      description: Waf Metrics Response
      properties:
        dateTimeBegin:
          type: string
          format: date-time
        dateTimeEnd:
          type: string
          format: date-time
        granularity:
          $ref: '#/components/schemas/WafMetricsGranularity'
        series:
          type: array
          items:
            $ref: '#/components/schemas/WafMetricsResponseSeriesItem'
          x-ms-identifiers: []
    ContinentsResponseContinentsItem:
      type: object
      properties:
        id:
          type: string
    ResourcesResponseEndpointsPropertiesItemsItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        endpointId:
          type: string
        history:
          type: boolean
    Sku:
      type: object
      description: 'Standard_Verizon = The SKU name for a Standard Verizon CDN profile.

        Premium_Verizon = The SKU name for a Premium Verizon CDN profile.

        Custom_Verizon = The SKU name for a Custom Verizon CDN profile.

        Standard_Akamai = The SKU name for an Akamai CDN profile.

        Standard_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using GB based billing model.

        Standard_Microsoft = The SKU name for a Standard Microsoft CDN profile.

        Standard_AzureFrontDoor =  The SKU name for an Azure Front Door Standard profile.

        Premium_AzureFrontDoor = The SKU name for an Azure Front Door Premium profile.

        Standard_955BandWidth_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using 95-5 peak bandwidth billing model.

        Standard_AvgBandWidth_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using monthly average peak bandwidth billing model.

        StandardPlus_ChinaCdn = The SKU name for a China CDN profile for live-streaming using GB based billing model.

        StandardPlus_955BandWidth_ChinaCdn = The SKU name for a China CDN live-streaming profile using 95-5 peak bandwidth billing model.

        StandardPlus_AvgBandWidth_ChinaCdn = The SKU name for a China CDN live-streaming profile using monthly average peak bandwidth billing model.'
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: Name of the pricing tier.
    UsagesListResult:
      type: object
      description: The list usages operation response.
      properties:
        value:
          type: array
          description: The Usage items on this page
          items:
            $ref: '#/components/schemas/Usage'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ResourceUsageUnit:
      type: string
      description: Unit of the usage. e.g. count.
      enum:
      - count
      x-ms-enum:
        name: ResourceUsageUnit
        modelAsString: true
        values:
        - name: count
          value: count
    RankingsResponseTablesPropertiesItemsMetricsItem:
      type: object
      properties:
        metric:
          type: string
        value:
          type: integer
          format: int64
        percentage:
          type: number
          format: float
    MigrateResult:
      type: object
      description: Result for migrate operation.
      properties:
        id:
          type: string
          format: arm-id
          description: Resource ID.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        properties:
          $ref: '#/components/schemas/MigrateResultProperties'
          x-ms-client-flatten: true
    ResourcesResponseCustomDomainsItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        endpointId:
          type: string
        history:
          type: boolean
    WafRankingsResponseDataItem:
      type: object
      properties:
        groupValues:
          type: array
          items:
            type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ComponentsKpo1PjSchemasWafrankingsresponsePropertiesDataItemsPropertiesMetricsItems'
          x-ms-identifiers: []
    MigrationErrorType:
      type: object
      description: Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        resourceName:
          type: string
          description: Resource which has the problem.
          readOnly: true
        errorMessage:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
        nextSteps:
          type: string
          description: Describes what needs to be done to fix the problem
          readOnly: true
    UsageName:
      type: object
      description: The usage names.
      properties:
        value:
          type: string
          description: A string describing the resource name.
        localizedValue:
          type: string
          description: A localized string describing the resource name.
    RankingsResponseTablesItem:
      type: object
      properties:
        ranking:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/RankingsResponseTablesPropertiesItemsItem'
          x-ms-identifiers:
          - name
    MetricsSeriesUnit:
      type: string
      enum:
      - count
      - bytes
      - bitsPerSecond
      - milliSeconds
      x-ms-enum:
        name: MetricsSeriesUnit
        modelAsString: true
        values:
        - name: count
          value: count
        - name: bytes
          value: bytes
        - name: bitsPerSecond
          value: bitsPerSecond
        - name: milliSeconds
          value: milliSeconds
    Usage:
      type: object
      description: Describes resource usage.
      properties:
        id:
          type: string
          description: Resource identifier.
          readOnly: true
        unit:
          $ref: '#/components/schemas/UsageUnit'
          description: An enum describing the unit of measurement.
        currentValue:
          type: integer
          format: int64
          description: The current value of the usage.
        limit:
          type: integer
          format: int64
          description: The limit of usage.
        name:
          $ref: '#/components/schemas/UsageName'
          description: The name of the type of usage.
      required:
      - unit
      - currentValue
      - limit
      - name
    AutoGeneratedDomainNameLabelScope:
      type: string
      description: Indicates the endpoint name reuse scope. The default value is TenantReuse.
      enum:
      - TenantReuse
      - SubscriptionReuse
      - ResourceGroupReuse
      - NoReuse
      x-ms-enum:
        name: AutoGeneratedDomainNameLabelScope
        modelAsString: true
        values:
        - name: TenantReuse
          value: TenantReuse
        - name: SubscriptionReuse
          value: SubscriptionReuse
        - name: ResourceGroupReuse
          value: ResourceGroupReuse
        - name: NoReuse
          value: NoReuse
    ProfileUpdateParameters:
      type: object
      description: Properties required to update a profile.
      properties:
        tags:
          type: object
          description: Profile tags
          additionalProperties:
            type: string
        identity:
          $ref: ../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity
          description: Managed service identity (system assigned and/or user assigned identities).
        properties:
          $ref: '#/components/schemas/ProfilePropertiesUpdateParameters'
          description: The JSON object containing profile update parameters.
          x-ms-client-flatten: true
    ProfileScrubbingState:
      type: string
      description: State of the log scrubbing config. Default value is Enabled.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: ProfileScrubbingState
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
        - name: Disabled
          value: Disabled
    Profile:
      type: object
      description: A profile is a logical grouping of endpoints that share the same settings.
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
          description: The JSON object that contains the properties required to create a profile.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: The pricing tier (defines Azure Front Door Standard or Premium or a CDN provider, feature list and rate) of the profile.
        kind:
          type: string
          description: Kind of the profile. Used by portal to differentiate traditional CDN profile and new AFD profile.
          readOnly: true
        identity:
          $ref: ../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
      required:
      - sku
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource
    WafMetricsResponseSeriesPropertiesItemsItem:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ComponentsKpo1PjSchemasWafrankingsresponsePropertiesDataItemsPropertiesMetricsItems:
      type: object
      properties:
        metric:
          type: string
        value:
          type: integer
          format: int64
        percentage:
          type: number
          format: double
    ProfileProvisioningState:
      type: string
      description: Provisioning status of the profile.
      enum:
      - Succeeded
      - Failed
      - Updating
      - Deleting
      - Creating
      x-ms-enum:
        name: ProfileProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
        - name: Failed
          value: Failed
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Creating
          value: Creating
    ResourceUsage:
      type: object
      description: Output of check resource usage API.
      properties:
        resourceType:
          type: string
          description: Resource type for which the usage is provided.
          readOnly: true
        unit:
          $ref: '#/components/schemas/ResourceUsageUnit'
          description: Unit of the usage. e.g. count.
          readOnly: true
        currentValue:
          type: integer
          format: int32
          description: Actual value of usage on the specified resource type.
          readOnly: true
        limit:
          type: integer
          format: int32
          description: Quota of the specified resource type.
          readOnly: true
    ValidateSecretOutput:
      type: object
      description: Output of the validated secret.
      properties:
        status:
          $ref: '#/components/schemas/Status'
          description: The validation status.
        message:
          type: string
          description: Detailed error message
    ValidateSecretInput:
      type: object
      description: Input of the secret to be validated.
      properties:
        secretType:
          $ref: '#/components/schemas/SecretType'
          description: The secret type.
        secretSource:
          $ref: '#/components/schemas/ResourceReference'
          description: Resource reference to the Azure Key Vault secret. Expected to be in format of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}
        secretVersion:
          type: string
          description: Secret version, if customer is using a specific version.
      required:
      - secretType
      - secretSource
    CanMigrateResult:
      type: object
      description: Result for canMigrate operation.
      properties:
        id:
          type: string
          format: arm-id
          description: Resource ID.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        properties:
          $ref: '#/components/schemas/CanMigrateProperties'
          x-ms-client-flatten: true
    MetricsResponse:
      type: object
      description: Metrics Response
      properties:
        dateTimeBegin:
          type: string
          format: date-time
        dateTimeEnd:
          type: string
          format: date-time
        granularity:
          $ref: '#/components/schemas/MetricsGranularity'
        series:
          type: array
          items:
            $ref: '#/components/schemas/MetricsResponseSeriesItem'
          x-ms-identifiers: []
    ResourcesResponseEndpointsItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        history:
          type: boolean
        customDomains:
          type: array
          items:
            $ref: '#/components/schemas/ResourcesResponseEndpointsPropertiesItemsItem'
    ProfileScrubbingRules:
      type: object
      description: Defines the contents of the log scrubbing rules.
      properties:
        matchVariable:
          $ref: '#/components/schemas/ScrubbingRuleEntryMatchVariable'
          description: The variable to be scrubbed from the logs.
        selectorMatchOperator:
          $ref: '#/components/schemas/ScrubbingRuleEntryMatchOperator'
          description: When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to.
        selector:
          type: string
          description: When matchVariable is a collection, operator used to specify which elements in the collection this rule applies to.
        state:
          $ref: '#/components/schemas/ScrubbingRuleEntryState'
          description: Defines the state of a log scrubbing rule. Default value is enabled.
      required:
      - matchVariable
      - selectorMatchOperator
    ScrubbingRuleEntryState:
      type: string
      description: Defines the state of a log scrubbing rule. Default value is enabled.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: ScrubbingRuleEntryState
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
        - name: Disabled
          value: Disabled
    MigrateResultProperties:
      type: object
      properties:
        migratedProfileResourceId:
          $ref: '#/components/schemas/ResourceReference'
          description: Arm resource id of the migrated profile
          readOnly: true
    ScrubbingRuleEntryMatchOperator:
      type: string
      description: When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to.
      enum:
      - EqualsAny
      x-ms-enum:
        name: ScrubbingRuleEntryMatchOperator
        modelAsString: true
        values:
        - name: EqualsAny
          value: EqualsAny
    SecretType:
      type: string
      description: The type of the secret resource.
      enum:
      - UrlSigningKey
      - CustomerCertificate
      - ManagedCertificate
      - AzureFirstPartyManagedCertificate
      - MtlsCertificateChain
      x-ms-enum:
        name: SecretType
        modelAsString: true
        values:
        - name: UrlSigningKey
          value: UrlSigningKey
        - name: CustomerCertificate
          value: CustomerCertificate
        - name: ManagedCertificate
          value: ManagedCertificate
        - name: AzureFirstPartyManagedCertificate
          value: AzureFirstPartyManagedCertificate
        - name: MtlsCertificateChain
          value: MtlsCertificateChain
    WafMetricsSeriesUnit:
      type: string
      enum:
      - count
      x-ms-enum:
        name: WafMetricsSeriesUnit
        modelAsString: true
        values:
        - name: count
          value: count
    ProfileUpgradeParameters:
      type: object
      description: Parameters required for profile upgrade.
      properties:
        wafMappingList:
          type: array
          description: Web Application Firewall (WAF) and security policy mapping for the profile upgrade
          items:
            $ref: '#/components/schemas/ProfileChangeSkuWafMapping'
          x-ms-identifiers: []
      required:
      - wafMappingList
    RankingsResponse:
      type: object
      description: Rankings Response
      properties:
        dateTimeBegin:
          type: string
          format: date-time
        dateTimeEnd:
          type: string
          format: date-time
        tables:
          type: array
          items:
            $ref: '#/components/schemas/RankingsResponseTablesItem'
          x-ms-identifiers: []
    ProfilePropertiesUpdateParameters:
      type: object
      description: The JSON object containing profile update parameters.
      properties:
        originResponseTimeoutSeconds:
          type: integer
          format: int32
          description: Send and receive timeout on forwarding request to the origin. When timeout is reached, the request fails and returns.
          minimum: 16
        logScrubbing:
          $ref: '#/components/schemas/ProfileLogScrubbing'
          description: Defines rules to scrub sensitive fields in logs
    ResourceType:
      type: string
      description: Type of CDN resource used in CheckNameAvailability.
      enum:
      - Microsoft.Cdn/Profiles/Endpoints
      - Microsoft.Cdn/Profiles/AfdEndpoints
      x-ms-enum:
        name: ResourceType
        modelAsString: true
        values:
        - name: Microsoft.Cdn/Profiles/Endpoints
          value: Microsoft.Cdn/Profiles/Endpoints
        - name: Microsoft.Cdn/Profiles/AfdEndpoints
          value: Microsoft.Cdn/Profiles/AfdEndpoints
    MigrationEndpointMapping:
      type: object
      description: CDN Endpoint Mapping.
      properties:
        migratedFrom:
          type: string
          description: Name of the classic CDN profile endpoint.
        migratedTo:
          type: string
          description: Name of the newly created migrated Azure Frontdoor Standard/Premium profile endpoint. This name will replace the name of the classic CDN endpoint resource.
    SkuName:
      type: string
      description: Name of the pricing tier.
      enum:
      - Standard_Verizon
      - Premium_Verizon
      - Custom_Verizon
      - Standard_Akamai
      - Standard_ChinaCdn
      - Standard_Microsoft
      - Standard_AzureFrontDoor
      - Premium_AzureFrontDoor
      - Standard_955BandWidth_ChinaCdn
      - Standard_AvgBandWidth_ChinaCdn
      - StandardPlus_ChinaCdn
      - StandardPlus_955BandWidth_ChinaCdn
      - StandardPlus_AvgBandWidth_ChinaCdn
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - name: Standard_Verizon
          value: Standard_Verizon
        - name: Premium_Verizon
          value: Premium_Verizon
        - name: Custom_Verizon
          value: Custom_Verizon
        - name: Standard_Akamai
          value: Standard_Akamai
        - name: Standard_ChinaCdn
          value: Standard_ChinaCdn
        - name: Standard_Microsoft
          value: Standard_Microsoft
        - name: Standard_AzureFrontDoor
          value: Standard_AzureFrontDoor
        - name: Premium_AzureFrontDoor
          value: Premium_AzureFrontDoor
        - name: Standard_955BandWidth_ChinaCdn
          value: Standard_955BandWidth_ChinaCdn
        - name: Standard_AvgBandWidth_ChinaCdn
          value: Standard_AvgBandWidth_ChinaCdn
        - name: StandardPlus_ChinaCdn
          value: StandardPlus_ChinaCdn
        - name: StandardPlus_955BandWidth_ChinaCdn
          value: StandardPlus_955BandWidth_ChinaCdn
        - name: StandardPlus_AvgBandWidth_ChinaCdn
          value: StandardPlus_AvgBandWidth_ChinaCdn
    CanMigrateDefaultSku:
      type: string
      description: Recommended sku for the migration
      enum:
      - Standard_AzureFrontDoor
      - Premium_AzureFrontDoor
      x-ms-enum:
        name: CanMigrateDefaultSku
        modelAsString: true
        values:
        - name: Standard_AzureFrontDoor
          value: Standard_AzureFrontDoor
        - name: Premium_AzureFrontDoor
          value: Premium_AzureFrontDoor
    UsageUnit:
      type: string
      description: An enum describing the unit of measurement.
      enum:
      - Count
      x-ms-enum:
        name: UsageUnit
        modelAsString: true
        values:
        - name: Count
          value: Count
    WafMetricsGranularity:
      type: string
      enum:
      - PT5M
      - PT1H
      - P1D
      x-ms-enum:
        name: WafMetricsGranularity
        modelAsString: true
        values:
        - name: PT5M
          value: PT5M
        - name: PT1H
          value: PT1H
        - name: P1D
          value: P1D
    ProfileLogScrubbing:
      type: object
      description: Defines rules that scrub sensitive fields in the Azure Front Door profile logs.
      properties:
        state:
          $ref: '#/components/schemas/ProfileScrubbingState'
          description: State of the log scrubbing config. Default value is Enabled.
        scrubbingRules:
          type: array
          description: List of log scrubbing rules applied to the Azure Front Door profile logs.
          items:
            $ref: '#/components/schemas/ProfileScrubbingRules'
          x-ms-identifiers: []
    CheckEndpointNameAvailabilityOutput:
      type: object
      description: Output of check name availability API.
      properties:
        nameAvailable:
          type: boolean
          description: Indicates whether the name is available.
          readOnly: true
        availableHostname:
          type: string
          description: Returns the available hostname generated based on the AutoGeneratedDomainNameLabelScope when the name is available, otherwise it returns empty string
          readOnly: true
        reason:
          type: string
          description: The reason why the name is not available.
          readOnly: true
        message:
          type: string
          description: The detailed error message describing why the name is not available.
          readOnly: true
    CdnMigrationToAfdParameters:
      type: object
      description: Request body for Migrate operation.
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Sku for the migration
        migrationEndpointMappings:
          type: array
          description: A name map between classic CDN endpoints and AFD Premium/Standard endpoints.
          items:
            $ref: '#/components/schemas/MigrationEndpointMapping'
          x-ms-identifiers: []
      required:
      - sku
    Status:
      type: string
      description: The validation status.
      enum:
      - Valid
      - Invalid
      - AccessDenied
      - CertificateExpired
      x-ms-enum:
        name: Status
        modelAsString: true
        values:
        - name: Valid
          value: Valid
        - name: Invalid
          value: Invalid
        - name: AccessDenied
          value: AccessDenied
        - name: CertificateExpired
          value: CertificateExpired
    ResourceUsageListResult:
      type: object
      description: Output of check resource usage API.
      properties:
        value:
          type: array
          description: The ResourceUsage items on this page
          items:
            $ref: '#/components/schemas/ResourceUsage'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RankingsResponseTablesPropertiesItemsItem:
      type: object
      properties:
        name:
          type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/RankingsResponseTablesPropertiesItemsMetricsItem'
          x-ms-identifiers: []
    CanMigrateProperties:
      type: object
      properties:
        canMigrate:
          type: boolean
          description: Flag that says if the profile can be migrated
          readOnly: true
        defaultSku:
          $ref: '#/components/schemas/CanMigrateDefaultSku'
          description: Recommended sku for the migration
          readOnly: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/MigrationErrorType'
          x-ms-identifiers: []
    ContinentsResponseCountryOrRegionsItem:
      type: object
      properties:
        id:
          type: string
        continentId:
          type: string
    ProfileProperties:
      type: object
      description: The JSON object that contains the properties required to create a profile.
      properties:
        resourceState:
          $ref: '#/components/schemas/ProfileResourceState'
          description: Resource status of the profile.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProfileProvisioningState'
          description: Provisioning status of the profile.
          readOnly: true
        extendedProperties:
          type: object
          description: Key-Value pair representing additional properties for profiles.
          additionalProperties:
            type: string
          readOnly: true
        frontDoorId:
          type: string
          description: The Id of the frontdoor.
          readOnly: true
        originResponseTimeoutSeconds:
          type: integer
          format: int32
          description: Send and receive timeout on forwarding request to the origin. When timeout is reached, the request fails and returns.
          minimum: 16
        logScrubbing:
          $ref: '#/components/schemas/ProfileLogScrubbing'
          description: Defines rules that scrub sensitive fields in the Azure Front Door profile logs.
    ProfileListResult:
      type: object
      description: The response of a Profile list operation.
      properties:
        value:
          type: array
          description: The Profile items on this page
          items:
            $ref: '#/components/schemas/Profile'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CheckNameAvailabilityOutput:
      type: object
      description: Output of check name availability API.
      properties:
        nameAvailable:
          type: boolean
          description: Indicates whether the name is available.
          readOnly: true
        reason:
          type: string
          description: The reason why the name is not available.
          readOnly: true
        message:
          type: string
          description: The detailed error message describing why the name is not available.
          readOnly: true
    ResourceList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        nextLink:
          type: string
          description: URL to the next page of results.
    Resource:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          type: string
          description: Resource name.
        type:
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          description: Resource-specific properties.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
  parameters:
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
externalDocs:
  description: Azure CDN REST API Documentation
  url: https://learn.microsoft.com/en-us/rest/api/cdn/
x-refined-from:
- microsoft-azure-cdn-management-openapi.json
- microsoft-azure-cdn-openapi.yml
